<nav class='navbar fixed-top navbar-expand-lg navbar-dark bg-primary'>
  <a onclick="location.href='/products'">
    <img src='https://i.ibb.co/nrNMjtT/logo.png' alt='logo' width='100px' style='margin-left: 1.4rem;' />
  </a>
  <p class='navbar__title'>Bienvenido, {{firstName}}</p>
  <div>
    <button class='button is-danger mt-3' onclick="location.href='/products'"><span class='icon'>
        <i class='material-icons'>arrow_back</i></span><span>Seguir comprando</span>
    </button>
  </div>
  <div>
    <button id='logout-btn' class='button is-info'>
      <span class='icon'><i class='material-icons'>exit_to_app</i></span>
      <span>Cerrar sesión</span>
    </button>
  </div>
</nav>
<div class='dashboard-container'>
  <h2 class='profile-title'>Perfil</h2>
  <div class='profile-details'>
    <div>
      <p>Email: {{email}}</p>
      <p>Nombre completo: {{firstName}} {{lastName}}</p>
      <p>Rol: {{role}}</p>
      <h6>Edad: {{age}}</h6>
    </div>
  </div>
</div>